#textdomain wesnoth-Era_of_Strings

[unit_type]
    id=Volley Gun
    name= _ "Volley Gun"
    race=guard
    image="units/guard/line-infantryman.png"
    ellipse="misc/ellipse"

    hitpoints=34
    movement_type=normalfoot
    movement=7
    experience=35
    level=1
    alignment=lawful
    advances_to=Gatling Gun
    cost=20
    usage=fighter
    description= _ "Wheeled artillery pieces, Volley Guns have been in the National Guard's stockpiles for quite a few decades, though they've mostly been replaced by more modern options in the present. A single gun with many barrels, able to be shot one after another, allows the gunner of the Volley Gun to spray a target with many shots in quick succession, substituting for accuracy with volume of fire. The repeated hammering of a target into dust with overwhelming firepower has proven effective in preventing Stringless Puppets from being repaired, giving them a useful niche that stops the higher ups from getting rid of them completely."
    [abilities]
        {ABILITY_SKIRMISHER}
    [/abilities]
    [attack]
        name=sword
        description=_"sword"
        icon=attacks/longsword.png
        type=blade
        range=melee
        damage=4
        number=5
        [specials]
            {WEAPON_SPECIAL_BACKSTAB}
        [/specials]
    [/attack]
    [attack]
        name=fangs
        description=_"fangs"
        icon=attacks/fangs.png
        type=pierce
        range=melee
        damage=10
        number=1
        [specials]
            {WEAPON_SPECIAL_DRAIN}
            {WEAPON_SPECIAL_POISON}
            {WEAPON_SPECIAL_PLAGUE}
        [/specials]
    [/attack]
[/unit_type]
