#textdomain wesnoth-Era_of_Strings

[unit_type]
    id=S2 Simon
    name= _ "S2 Simon"
    race=stringless
    image="units/placeholder/stickman.png"
    ellipse="misc/ellipse"

    hitpoints=34
    movement_type=puppetnormal
    movement=7
    experience=35
    level=1
    alignment=lawful
    advances_to=DD1 Dante
    cost=20
    usage=fighter
    description= _ "Unlike the S1 Simon, which was designed to serve onboard a ship as a deckhand, the S2 was designed for underwater operations, with the original advertising fantasising about puppets jumping into the ocean to save humans that fall overboard. Modifying the S1 proved to be a mistake in this regard, requiring a year of budget cuts, short-sighted workarounds and costly component replacements to not fry itself whenever it jumps into a pool. The S2 would end up being the last model of the line due to these complications and a lack of buyer interest. While not designed for it, the Mistake Machine uses them and their harpoon gun on the surface, skewering anyone unfortunate enough to be in the way.
    
    Normally sold as the Seaman-1 Simon"
    [abilities]
        {ABILITY_SKIRMISHER}
    [/abilities]
    [attack]
        name=sword
        description=_"Knives"
        icon=attacks/longsword.png
        type=blade
        range=melee
        damage=4
        number=5
        [specials]
            {WEAPON_SPECIAL_BACKSTAB}
        [/specials]
    [/attack]
    [attack]
        name=fangs
        description=_"fangs"
        icon=attacks/fangs.png
        type=pierce
        range=melee
        damage=10
        number=1
        [specials]
            {WEAPON_SPECIAL_DRAIN}
            {WEAPON_SPECIAL_POISON}
            {WEAPON_SPECIAL_PLAGUE}
        [/specials]
    [/attack]
[/unit_type]
