#textdomain wesnoth-Era_of_Strings

[unit_type]
    id=Binbot
    name= _ "Binbot"
    race=stringless
    image="units/placeholder/stickman.png"
    ellipse="misc/ellipse"

    hitpoints=34
    movement_type=puppetnormal
    movement=7
    experience=35
    level=0
    alignment=lawful
    advances_to=null
    cost=20
    usage=fighter
    description= _ "Binbots, when first introduced, where an experiment in the mass production of functional puppets. Short walkers with no arms and the most rudimentary of thinking cores, many where produced and modified to the whims of the first Puppeteers starting to invent the craft. Beyond the testing of mobility and the practicality of making further puppets, they didn't have much of a role and ended up being abandoned to landfills en masse. Having been revived from their graves by the Mistake Machine, they pose a minimal threat, an annoyance crashing into the legs of soldiers intent to fracture them, though usually failing."
    [abilities]
        {ABILITY_SKIRMISHER}
    [/abilities]
    [attack]
        name=sword
        description=_"Knives"
        icon=attacks/longsword.png
        type=blade
        range=melee
        damage=4
        number=5
        [specials]
            {WEAPON_SPECIAL_BACKSTAB}
        [/specials]
    [/attack]
    [attack]
        name=fangs
        description=_"fangs"
        icon=attacks/fangs.png
        type=pierce
        range=melee
        damage=10
        number=1
        [specials]
            {WEAPON_SPECIAL_DRAIN}
            {WEAPON_SPECIAL_POISON}
            {WEAPON_SPECIAL_PLAGUE}
        [/specials]
    [/attack]
[/unit_type]
