#textdomain wesnoth-Era_of_Strings

[unit_type]
    id=FF1 Ferguson
    name= _ "FF1 Ferguson"
    race=stringless
    image="units/placeholder/stickman.png"
    ellipse="misc/ellipse"

    hitpoints=34
    movement_type=puppetnormal
    movement=7
    experience=35
    level=1
    alignment=lawful
    advances_to=null
    cost=20
    usage=fighter
    description= _ "Rudimentary even during its prime, the Ferguson nevertheless served firefighters well as a battering ram to be pointed at any walls or doors that needed to be busted through, no doubt saving many lives. While one would expect a firefighting puppet to be resistant to heat, well, the large metal framework held up fine, but internal components where not modified for the increased temperatures and burned out quickly, leaving many Fergusons to be crushed by the buildings they had helped destabilise. These crushed and abandoned puppets make up the bulk of FF1s that the Mistake Machine has revived, using the pressure of their water cannons and just pure brute strength to crush humans in its stead."
    [abilities]
        {ABILITY_SKIRMISHER}
    [/abilities]
    [attack]
        name=sword
        description=_"Knives"
        icon=attacks/longsword.png
        type=blade
        range=melee
        damage=4
        number=5
        [specials]
            {WEAPON_SPECIAL_BACKSTAB}
        [/specials]
    [/attack]
    [attack]
        name=fangs
        description=_"fangs"
        icon=attacks/fangs.png
        type=pierce
        range=melee
        damage=10
        number=1
        [specials]
            {WEAPON_SPECIAL_DRAIN}
            {WEAPON_SPECIAL_POISON}
            {WEAPON_SPECIAL_PLAGUE}
        [/specials]
    [/attack]
[/unit_type]
