#textdomain wesnoth-Era_of_Strings

[unit_type]
    id=TAL Mk1
    name= _ "TAL Mk1"
    race=puppetm
    image="units/placeholder/stickman.png"
    ellipse="misc/ellipse"

    hitpoints=34
    movement_type=puppetnormal
    movement=7
    experience=35
    level=1
    alignment=lawful
    advances_to=null
    cost=20
    usage=fighter 
    description= _ "The Tesla Amplification Launcher Mark 1, usually called the Talmik 1 by staff, was a puppet made as a result of politics. The last administration of Victrus took particular offense with puppets possessing firearms, perhaps a reasonable fear given the current state of Victrus, but it hampered the Puppet Master Association's desire for their own automated army greatly. The solution to this problem came with the invention of tesla coils, able to store and shoot out bolts of lightning at any foes. While the restrictions on firearms would eventually be loosened by the new Emperor, many Puppeteers still continued the study of tesla based weaponry, becoming an important field of study within the Guild."
    [abilities]
        {ABILITY_SKIRMISHER}
    [/abilities]
    [attack]
        name=sword
        description=_"Knives"
        icon=attacks/longsword.png
        type=blade
        range=melee
        damage=4
        number=5
        [specials]
            {WEAPON_SPECIAL_BACKSTAB}
        [/specials]
    [/attack]
    [attack]
        name=fangs
        description=_"fangs"
        icon=attacks/fangs.png
        type=pierce
        range=melee
        damage=10
        number=1
        [specials]
            {WEAPON_SPECIAL_DRAIN}
            {WEAPON_SPECIAL_POISON}
            {WEAPON_SPECIAL_PLAGUE}
        [/specials]
    [/attack]
[/unit_type]
