#textdomain wesnoth-Era_of_Strings

[unit_type]
    id=PPB Mk2
    name= _ "PPB Mk2"
    race=puppetm
    image="units/placeholder/stickman.png"
    ellipse="misc/ellipse"

    hitpoints=34
    movement_type=puppetnormal
    movement=7
    experience=35
    level=1
    alignment=lawful
    advances_to=null
    cost=20
    usage=fighter 
    description= _ "The Personnel Protection Bodyguard Mk 2 is designed as its name implies, protecting the members of the Puppet Master Association to wherever they travel. The mk2 was made due to the cost of the mk1, created by stripping away the internal weapon systems of the mk1, filling the space with additional armour, alongside some improvement to the hydraulics of the legs to keep up with the added weight. These changes made the mk2 significantly cheaper and much better at taking a bullet for their target, before closing into melee to incapacitate any threats, or at least stall for their master's hasty retreat."
    [abilities]
        {ABILITY_SKIRMISHER}
    [/abilities]
    [attack]
        name=sword
        description=_"Knives"
        icon=attacks/longsword.png
        type=blade
        range=melee
        damage=4
        number=5
        [specials]
            {WEAPON_SPECIAL_BACKSTAB}
        [/specials]
    [/attack]
    [attack]
        name=fangs
        description=_"fangs"
        icon=attacks/fangs.png
        type=pierce
        range=melee
        damage=10
        number=1
        [specials]
            {WEAPON_SPECIAL_DRAIN}
            {WEAPON_SPECIAL_POISON}
            {WEAPON_SPECIAL_PLAGUE}
        [/specials]
    [/attack]
[/unit_type]
