#textdomain wesnoth-Era_of_Strings

[race]
    id=guard
    male_name= _ "race^Human"
    female_name= _ "race+female^Human"
    plural_name= _ "race+plural^Victrus National Guard"
    help_taxonomy=humanaltvictrus
    num_traits=2
    description= _ "The Victrus National Guard are the steel fist that protects the Empire from threats both within and without. They used to only protect from the latter, though after the Police where deemed wholly incapable of resolving current instability by The Emperor, the National Guard where given that responsibility instead, alongside the appropriate protections to let them do the things to civilians that would have otherwise gotten them discharged in more peaceful times. 
<header>text='Tactics'</header>
The National Guard rely mostly on their large stockpiles of muskets, revolvers, repeaters, rifles and automatic machine guns, ordered ascending in rarity, to dominate in ranged combat with a hail of lead. Line infantry provide the space for these more specialised assets of superior firepower to find an angle, while a selection of Puppets designed for the Guard provide some greater melee prowess, if needed."

    markov_chain_size=2
    male_names= _ "Abdelkader, Abdulaziz, Abdulmecid, Abidal, Adarras, Adonis, Ahirom, Akbar, Amilcare, Azer, Azmelqart, Ba'al, Babur, Baltazar, Barekbaal, Besolam, Boldizsar, Cambyses, Caxias, Cyrus, D'Jafaar, Esauh, Haider, Hailama, Hamilcar, Hannibal, Hiram, Iben Zhur, Itthobaal, Jabhar, Lehar, Melkart, Mendola, Sikarbaal, Tyrus"
    female_names= _ "Adonia, Aida, Aisha, Alissar, Anath, Asherah, Ashtoreth, Ba'alat, Batanah, Batnoam, Betsda, Coriander, Cybil, Derketo, Dido, Hadda, Hesata, Ishtar, Jezebel, Junot, Lilith, Maherra, Melita, Myletta, Nikkal, Pidraya, Rahmaya, Salaya, Sefina, Shahar, Tanis, Tanith, Ummanath, Ummashtart, Yara"
[/race]


[movetype]
    # they can swim, but rocks etc. hurt their feet...
    name=normalfoot
    [movement_costs]
        shallow_water=1
        deep_water=1
        reef=2
        swamp_water=1
        flat=1
        sand=1
        forest=2
        hills=2
        mountains=3
        village=1
        castle=1
        cave=2
        frozen=3
        fungus=1
    [/movement_costs]

    [defense]
        shallow_water=40
        deep_water=40
        reef=40
        swamp_water=40
        flat=60
        sand=70
        forest=50
        hills=50
        mountains=40
        village=40
        castle=40
        cave=60
        frozen=80
        fungus=50
    [/defense]

    # they are not wearing much armour
    [resistance]
        blade=120
        pierce=120
        impact=120
        fire=100
        cold=120
        arcane=80
    [/resistance]
[/movetype]
