#textdomain wesnoth-Era_of_Strings

[race]
    id=puppetg
    male_name= _ "race^Puppet"
    female_name= _ "race+female^Puppet"
    plural_name= _ "race+plural^Military Puppets"
    help_taxonomy=puppet
    {TRAIT_MECHANICAL}
    description= _ "The National Guard, for reasons that should be fairly obvious, have always taken a keen interest in Puppets since they first rose to prominence. Unfortunately, finding a balance between cost effectiveness and battlefield performance has been remarkably difficult. The sorts of Puppets that can appropriately survive on a battlefield like an infantryman can are prohibitively expensive, while cheaper models tend to struggle to keep up in such chaotic conditions. The creation of the Mistake Machine is a cruel irony in such a way, showing the fully Puppet army that military planners have dreamed about for years, just on the other side of the battlefield."
    markov_chain_size=2
    male_names= _ "Abdelkader, Abdulaziz, Abdulmecid, Abidal, Adarras, Adonis, Ahirom, Akbar, Amilcare, Azer, Azmelqart, Ba'al, Babur, Baltazar, Barekbaal, Besolam, Boldizsar, Cambyses, Caxias, Cyrus, D'Jafaar, Esauh, Haider, Hailama, Hamilcar, Hannibal, Hiram, Iben Zhur, Itthobaal, Jabhar, Lehar, Melkart, Mendola, Sikarbaal, Tyrus"
    female_names= _ "Adonia, Aida, Aisha, Alissar, Anath, Asherah, Ashtoreth, Ba'alat, Batanah, Batnoam, Betsda, Coriander, Cybil, Derketo, Dido, Hadda, Hesata, Ishtar, Jezebel, Junot, Lilith, Maherra, Melita, Myletta, Nikkal, Pidraya, Rahmaya, Salaya, Sefina, Shahar, Tanis, Tanith, Ummanath, Ummashtart, Yara"
[/race]


[movetype]
    # they can swim, but rocks etc. hurt their feet...
    name=puppetnormal
    [movement_costs]
        shallow_water=1
        deep_water=1
        reef=2
        swamp_water=1
        flat=1
        sand=1
        forest=2
        hills=2
        mountains=3
        village=1
        castle=1
        cave=2
        frozen=3
        fungus=1
    [/movement_costs]

    [defense]
        shallow_water=40
        deep_water=40
        reef=40
        swamp_water=40
        flat=60
        sand=70
        forest=50
        hills=50
        mountains=40
        village=40
        castle=40
        cave=60
        frozen=80
        fungus=50
    [/defense]

    # they are not wearing much armour
    [resistance]
        blade=120
        pierce=120
        impact=120
        fire=100
        cold=120
        arcane=80
    [/resistance]
[/movetype]
