#textdomain wesnoth-Era_of_Strings

[race]
    id=helix
    male_name= _ "race^Human"
    female_name= _ "race+female^Human"
    plural_name= _ "race+plural^Double Helix Guild"
    help_taxonomy=humanaltvictrus
    num_traits=2
    description= _ "The Double Helix Guild is the rising star of Victrus, taking up the frontpage of newspapers day after day. The expertise of the guild in medicine, healthcare and biology poised them for a swift takeover of the entire private medical sector, the plague doctors that predated them able to do nothing to prevent being made irrelevant. Well liked by investors and commoners alike, their actions have no doubt saved many lives, and their highly successful track record leads to few complaints about the high price of their services (at least, for those that can afford it).
<header>text='Behind closed doors'</header>
When outside of their carefully curated public image, the Double Helix Guild pursue their true goal. The Alchemists of this guild believe that humanity in its current state are a shadow of their full potential, and all wish to be the first to create 'the perfect human'. Human test subjects are used quite liberally in pursuit of this, attempting all manners of biological manipulation to improve the subject, usually against their will. As a result of all this and so so so much more locked deep within their vaults, the Alchemists of the Double Helix Guild discovered the secret to creating Homonculi, artificial, often sapient creatures.
<header>text='Corporate Warfare'</header>
In order to stay ahead of their rivals, most notably the Puppet Masters Association, many clandestine assets are employed by the Double Helix Guild. The main imperative of these agents is always the protection of the guild's secrets, any evidence that could link the guild to their more nefarious activities must be made to disappear, and if that evidence happens to be a witness, well, for their sake, one must hope they're easily bribed. When conflict can't be avoided, the Helix make use of augmented assassins and bio-commando units, their appearence human enough to be mistaken as such under their clothing."
    markov_chain_size=2
    male_names= _ "Abdelkader, Abdulaziz, Abdulmecid, Abidal, Adarras, Adonis, Ahirom, Akbar, Amilcare, Azer, Azmelqart, Ba'al, Babur, Baltazar, Barekbaal, Besolam, Boldizsar, Cambyses, Caxias, Cyrus, D'Jafaar, Esauh, Haider, Hailama, Hamilcar, Hannibal, Hiram, Iben Zhur, Itthobaal, Jabhar, Lehar, Melkart, Mendola, Sikarbaal, Tyrus"
    female_names= _ "Adonia, Aida, Aisha, Alissar, Anath, Asherah, Ashtoreth, Ba'alat, Batanah, Batnoam, Betsda, Coriander, Cybil, Derketo, Dido, Hadda, Hesata, Ishtar, Jezebel, Junot, Lilith, Maherra, Melita, Myletta, Nikkal, Pidraya, Rahmaya, Salaya, Sefina, Shahar, Tanis, Tanith, Ummanath, Ummashtart, Yara"
[/race]


[movetype]
    # they can swim, but rocks etc. hurt their feet...
    name=normalfoot
    [movement_costs]
        shallow_water=1
        deep_water=1
        reef=2
        swamp_water=1
        flat=1
        sand=1
        forest=2
        hills=2
        mountains=3
        village=1
        castle=1
        cave=2
        frozen=3
        fungus=1
    [/movement_costs]

    [defense]
        shallow_water=40
        deep_water=40
        reef=40
        swamp_water=40
        flat=60
        sand=70
        forest=50
        hills=50
        mountains=40
        village=40
        castle=40
        cave=60
        frozen=80
        fungus=50
    [/defense]

    # they are not wearing much armour
    [resistance]
        blade=120
        pierce=120
        impact=120
        fire=100
        cold=120
        arcane=80
    [/resistance]
[/movetype]
