#textdomain wesnoth-Era_of_Strings

[race]
    id=master
    male_name= _ "race^Human"
    female_name= _ "race+female^Human"
    plural_name= _ "race+plural^Puppet Masters Association"
    help_taxonomy=humanaltvictrus
    num_traits=2
    description= _ "The old guard of guilds in Victrus, the Puppet Masters Association have found themselves dominant in the past 100 years since Geppetto made the first Puppet. While Puppetcraft is no doubt their specialty, a century of monopolisation has essentially given them purview over the vast majority of industrial output within the empire. In modern times, this iron fisted control is looking awfully brittle, but nobody will disregard just how influential this guild still is.
<header>text='Membership'</header>
Prospective students wanting to join the guild need to prove themselves to their potential masters, demonstrating engineering talents and a level of education commoners simply don't have the funds to afford, making the membership of the guild trend towards the upper class. Those that pass their apprenticeships are given a great deal of freedom to pursue their own interests, the guild being notoriously hands off after the budget is decided. Junior members learn, regular members invent and senior members scheme against rival guilds and other members of the leadership board.
<header>text='Puppetcraft'</header>
Living up to their name, the Puppet Masters Association are the foremost experts in the research and creation of almost all Puppets within Victrus, all but the most ram-shackled of Sweeper Scav work will probably be traced right back to this guild. "
    markov_chain_size=2
    male_names= _ "Abdelkader, Abdulaziz, Abdulmecid, Abidal, Adarras, Adonis, Ahirom, Akbar, Amilcare, Azer, Azmelqart, Ba'al, Babur, Baltazar, Barekbaal, Besolam, Boldizsar, Cambyses, Caxias, Cyrus, D'Jafaar, Esauh, Haider, Hailama, Hamilcar, Hannibal, Hiram, Iben Zhur, Itthobaal, Jabhar, Lehar, Melkart, Mendola, Sikarbaal, Tyrus"
    female_names= _ "Adonia, Aida, Aisha, Alissar, Anath, Asherah, Ashtoreth, Ba'alat, Batanah, Batnoam, Betsda, Coriander, Cybil, Derketo, Dido, Hadda, Hesata, Ishtar, Jezebel, Junot, Lilith, Maherra, Melita, Myletta, Nikkal, Pidraya, Rahmaya, Salaya, Sefina, Shahar, Tanis, Tanith, Ummanath, Ummashtart, Yara"
[/race]


[movetype]
    # they can swim, but rocks etc. hurt their feet...
    name=normalfoot
    [movement_costs]
        shallow_water=1
        deep_water=1
        reef=2
        swamp_water=1
        flat=1
        sand=1
        forest=2
        hills=2
        mountains=3
        village=1
        castle=1
        cave=2
        frozen=3
        fungus=1
    [/movement_costs]

    [defense]
        shallow_water=40
        deep_water=40
        reef=40
        swamp_water=40
        flat=60
        sand=70
        forest=50
        hills=50
        mountains=40
        village=40
        castle=40
        cave=60
        frozen=80
        fungus=50
    [/defense]

    # they are not wearing much armour
    [resistance]
        blade=120
        pierce=120
        impact=120
        fire=100
        cold=120
        arcane=80
    [/resistance]
[/movetype]
