#textdomain wesnoth-Era_of_Strings

[race]
    id=stringless
    male_name= _ "race^Puppet"
    female_name= _ "race+female^Puppet"
    plural_name= _ "race+plural^Stringless Puppets"
    help_taxonomy=puppet
    {TRAIT_MECHANICAL}
    description= _ "Stringless Puppets are one of the terms used to refer to Puppets under the Mistake Machine's control, the Abomidable Intelligence, the Antichrist of Iron, the Extinction Bringer, and a number of other nicknames you shan't bore yourself with, the portrait of it should be clear enough already. Any Puppet can fall under the lure of the Mistake Machine, though by a large margin, older Puppet models are most susceptible, usually the types made obsolete that end up in landfills. Under its control, Stringless Puppets move with a bloodthirsty frenzy, their old clockwork known to break apart under the conditions they most often fight in. Any Stringless Puppets that can't be put back together after this are cannibalised for their parts or used in the Mistake Machine's own personal creations.
<header>text='Placeholder'</header>
Placeholder"
    markov_chain_size=2
    male_names= _ "Abdelkader, Abdulaziz, Abdulmecid, Abidal, Adarras, Adonis, Ahirom, Akbar, Amilcare, Azer, Azmelqart, Ba'al, Babur, Baltazar, Barekbaal, Besolam, Boldizsar, Cambyses, Caxias, Cyrus, D'Jafaar, Esauh, Haider, Hailama, Hamilcar, Hannibal, Hiram, Iben Zhur, Itthobaal, Jabhar, Lehar, Melkart, Mendola, Sikarbaal, Tyrus"
    female_names= _ "Adonia, Aida, Aisha, Alissar, Anath, Asherah, Ashtoreth, Ba'alat, Batanah, Batnoam, Betsda, Coriander, Cybil, Derketo, Dido, Hadda, Hesata, Ishtar, Jezebel, Junot, Lilith, Maherra, Melita, Myletta, Nikkal, Pidraya, Rahmaya, Salaya, Sefina, Shahar, Tanis, Tanith, Ummanath, Ummashtart, Yara"
[/race]


[movetype]
    # they can swim, but rocks etc. hurt their feet...
    name=puppetnormal
    [movement_costs]
        shallow_water=1
        deep_water=1
        reef=2
        swamp_water=1
        flat=1
        sand=1
        forest=2
        hills=2
        mountains=3
        village=1
        castle=1
        cave=2
        frozen=3
        fungus=1
    [/movement_costs]

    [defense]
        shallow_water=40
        deep_water=40
        reef=40
        swamp_water=40
        flat=60
        sand=70
        forest=50
        hills=50
        mountains=40
        village=40
        castle=40
        cave=60
        frozen=80
        fungus=50
    [/defense]

    # they are not wearing much armour
    [resistance]
        blade=120
        pierce=120
        impact=120
        fire=100
        cold=120
        arcane=80
    [/resistance]
[/movetype]
