#textdomain wesnoth-Era_of_Strings

[unit_type]
    id=Junior Alchemist
    name= _ "Junior Alchemist"
    race=helix
    image="units/helix/junior-alchemist.png"
    ellipse="misc/ellipse"

    hitpoints=30
    movement_type=normalfoot
    movement=7
    experience=35
    level=1
    alignment=lawful
    advances_to=Alchemist
    cost=20
    usage=fighter
    description= _ "Alchemists are a secretive bunch, and they select their apprentices with care. Those lucky enough to be invited to join the Double Helix Guild are priviliged to learn those secrets and become Junior Alchemists, now serving at the forefront of medical research and human augmentation under more senior instructors. Defending themselves with a blade hidden in their canes, they are expected to take the secrets they learn to the grave, should it be necessary. Junior Alchemists, outside of the few most gifted exceptions, are expected to stay Junior for at least three years before earning their freedom."
    [abilities]
        {ABILITY_CURES}
    [/abilities]
    [attack]
        name=Cane blade
        description=_"Cane blade"
        icon=attacks/sword-human-short.png
        type=blade
        range=melee
        damage=6
        number=3
        [specials]
        [/specials]
    [/attack]
    [attack]
        name=Concealed Handbow
        description=_"Concealed Handbow"
        icon=attacks/crossbow-human.png
        type=pierce
        range=ranged
        damage=7
        number=2
        [specials]
        [/specials]
    [/attack]
[/unit_type]
